@{
    ViewData["Title"] = "Product Page";
}
<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Product List</h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-info form-control">
            <i class="fas fa-plus"></i>&nbsp; Add New Product
        </a>
    </div>
</div>
<div class="container rounded border p-2 m-2">
    <table id="tblData" class="table table-bordered table-hover">
        <thead class="bg-info">
            <tr>
                <th class="text-light">Title</th>
                <th class="text-light">Description</th>
                <th class="text-light">Author</th>
                <th class="text-light">ISBN</th>
                <th class="text-light">Price</th>
                <th class="text-light">Action</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts  {
        <script src="~/js/product.js"></script>
}